@charset "UTF-8";
@import url(reset.css);
.font-helvetica, body {
  font-family: "Helvetica-Neue", Helvetica, Arial, sans-serif;
}

#grid {
  display: none;
  position: fixed;
  top: 0;
  left: 50%;
  background: url(/grid-coordinates/images/grid-24.png) repeat-y 50% 0;
  height: 100%;
  margin: 0 auto;
  margin-left: -480px;
  width: 960px;
}

.toggle-grid {
  -moz-transition-property: color;
  -webkit-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  display: block;
  background: url(/grid-coordinates/images/toggle-grid.png) no-repeat right 50%;
  font-size: 12px;
  line-height: 16px;
  padding-right: 22px;
  text-decoration: none;
}
.toggle-grid:hover {
  color: #999999;
}
.toggle-grid .hide {
  display: none;
}

body {
  background: white;
}

#branding, #navigation, #page-body, #page-sidebar, #footer-content {
  -moz-transition-property: background;
  -webkit-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -moz-transition-duration: 0.75s;
  -webkit-transition-duration: 0.75s;
  -o-transition-duration: 0.75s;
  transition-duration: 0.75s;
  background: #e7e7e7;
  color: #999999;
  font-size: 13px;
  text-align: center;
}
#branding:hover, #navigation:hover, #page-body:hover, #page-sidebar:hover, #footer-content:hover {
  background: #dddddd;
}

#branding, #navigation {
  line-height: 50px;
}

#page-body, #page-sidebar {
  line-height: 600px;
}

#footer-content {
  line-height: 50px;
}

#header, #page {
  margin-bottom: 10px;
}

#header {
  margin-top: 10px;
}

#header {
  overflow: hidden;
  *zoom: 1;
  margin: 0 auto;
  width: 960px;
  margin-top: 10px;
}

#branding {
  width: 310px;
  display: inline;
  float: left;
  position: relative;
  margin: 0 5px;
  overflow: hidden;
  *zoom: 1;
}

#navigation {
  width: 630px;
  display: inline;
  float: left;
  position: relative;
  margin: 0 5px;
  overflow: hidden;
  *zoom: 1;
}

#page {
  overflow: hidden;
  *zoom: 1;
  margin: 0 auto;
  width: 960px;
}

#page-body {
  width: 630px;
  display: inline;
  float: left;
  position: relative;
  margin: 0 5px;
  overflow: hidden;
  *zoom: 1;
}

#page-sidebar {
  width: 310px;
  display: inline;
  float: left;
  position: relative;
  margin: 0 5px;
  overflow: hidden;
  *zoom: 1;
}

#footer {
  overflow: hidden;
  *zoom: 1;
  margin: 0 auto;
  width: 960px;
}

#footer-content {
  width: 950px;
  display: inline;
  float: left;
  position: relative;
  margin: 0 5px;
  overflow: hidden;
  *zoom: 1;
}

#header, #page {
  margin-bottom: 10px;
}
